body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-width: 1280px;
    box-sizing: border-box;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    padding: 10px 0  5px;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.navbar {
    text-align: center;
    background-color: white;
    padding: 29px 0 24px;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.navlink {
    display: inline;
    margin: 28px;
}

.navlink a {
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.btn {
    transition: all 180ms ease-in-out;
}

.btn.nav:hover {
    color: #21008c;
}

.img_main_page {
    display: block;
    width: 1280px;
    margin: 0 auto;
}

.container.info {
    width: 1145px;
    margin-top:48px;
    margin-bottom: 50px;
}

.title_main_page {
    text-transform: uppercase;
    margin: 48px 0 38px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    text-align: center;
}

.info_main_page {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 16px;
    padding-top: 2px
}

.container.info p {
    margin-bottom: 28px;
}

.container.button {
    text-align: center;
    margin-bottom: 42px;
    padding: 25px;
}

.btn.start {
    padding: 18px 44px;
    background: #FF0000;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    letter-spacing: 1.8px;
}

.btn.start:hover {
    cursor: pointer;
    background-color: #21008c;
}

.container.copyrights {
    margin-bottom: 50px;
}

.copyrights p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 105px;
    margin-left: 105px;
    text-align: right;
    padding-top: 27px;
}
